<feature-toggle-provider [featureToggleService]="featureToggleData">
  <div class="parent">
    <h3>Why Feature toggle?</h3>

    <blockquote cite="">
      This is a common concept, but why use this directive instead solve it via server-side rendering?
    </blockquote>

    <p>The idea of this directive is make this process transparent and easier. So the main point is integrate this directive with other tooling process, such as:</p>
    <ul>
      <li>Server-side rendering;</li>
      <li>Progressive rendering;</li>
      <li>Any other that yoy like :)</li>
    </ul>
    <p>You can integrate with WebSockets or handling this in a EventSourcing architecture. It's totally transparent for you and you can integrate easier in your application</p>

    <br>
    <hr>

    <h3>Instalation and usage</h3>

    <p>You can get it on NPM installing ngx-feature-toggle module as a project dependency.</p>

    <pre>
      <code>
$ npm install --save ngx-feature-toggle
      </code>
    </pre>

    <br>
    <hr>

    <h3>Setup</h3>

    <p>You'll need to add FeatureToggleModule to your application module. So that, the featureToggle directive will be accessible in your application.</p>
    <pre>
      <code>
import &#123; FeatureToggleModule, FeatureToggleServiceProvider } from 'ngx-feature-toggle';
...
@NgModule(&#123;
  ...
  declarations: [
    YourAppComponent
  ],
  imports: [ FeatureToggleModule ],
  providers: [FeatureToggleServiceProvider],
  bootstrap: [YourAppComponent]
  ...
})

export class YourAppComponent &#123;
}
...
      </code>
    </pre>

    <p>Now you just need to add a configuration in your application root component. Your feature toggle configuration can be added using different approaches, such as:</p>

    <ul>
      <li>RXJS subscribe information;</li>
      <li>HTTP Request;</li>
      <li>CQRS event data;</li>
      <li>File information;</li>
      <li>etc;</li>
    </ul>

    <p>After that, you can use the featureToggle directive in your templates, passing the string based on the feature toggle configuration data.</p>

    <h4>HTML</h4>
    <p>Inside your main component, add the information into the FeatureToggleServiceProvider and add this information by key information provided for your service.</p>
    <pre>
      <code class="html">
&lt;div *featureToggle="'enableSecondText'"&gt;
  condition is true and `featureToggle` is enabled.
  &lt;div *featureToggle="'enableFirstText'"&gt;
    condition is false and `featureToggle` is disabled. In that case this content should not be rendered.
  &lt;/div&gt;
&lt;/div&gt;
      </code>
    </pre>

    <h4>Typescript</h4>

    <pre>
      <code class="javascript">
import &#123; FeatureToggleServiceProvider } from 'ngx-feature-toggle';

class AnotherExampleComponent &#123;
  public constructor(
    private featureToggleServiceProvider:FeatureToggleServiceProvider
  ) &#123;
    featureToggleServiceProvider.setConfigurationObject(&#123;
      enableFirstText: false,
      enableSecondText: true
    });
  }
}
      </code>
    </pre>


    <p><b>*</b> for more details, please see <a href="https://github.com/pleerock/ngx-progress-bar/tree/master/demo/src/app/app.module.ts">demo folder in Github repository</a></p>

    <br>
    <hr>
    <h3>Live code</h3>

    <p>Feature Toggle Configuration Data: </p>
    <p><b>{{ featureToggleData | json }}</b></p>

    <feature-toggle [featureName]="'enableSecondText'">
      <p>condition is true and `featureToggle` is enabled.</p>
      <feature-toggle [featureName]="'enableFirstText'">
        <p>condition is false and `featureToggle` is disabled. In that case this content should not be rendered.</p>
      </feature-toggle>
      <feature-toggle [featureName]="'enableFirstText'" showWhenDisabled >
        <p>condition is false and `featureToggle` is disabled and it has `showWhenDisabled` attribute. In that case this content should be rendered.</p>
      </feature-toggle>
    </feature-toggle>

    <br>
    <hr>

    <h3>FeatureToggleServiceProvider</h3>

    <p>This service exposes a few different methods with which you can interact with featureToggle directive.</p>

    <h4>featureToggleServiceProvider.setConfigurationObject(obj)</h4>

    <p>Adds the feature toggle configuration in your application. This information will be private and checked via `featureToggleServiceProvider.isOn(key)` and `featureToggleServiceProvide`.isOff(key)` methods.</p>

    <h4>featureToggleServiceProvider.isOn(key)</h4>

    <p>Checks if the featureToggle configuration has the string key value with true value.</p>

    <h4>featureToggleServiceProvider.isOff(key)</h4>

    <p>Checks if the featureToggle configuration does not have the string key value with true value.</p>

  </div>

</feature-toggle-provider>
