# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.md]
trim_trailing_whitespace = false

[./src/favicon.ico]
insert_final_newline = false
max_line_length = 6000

[./src/polyfills.ts]
max_line_length = 120

[./.github/*.md]
trim_trailing_whitespace = false

[.circleci/config.yml]
indent_size = 4
