* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  line-height: 2;
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

pre {
  white-space: pre-wrap;
}

pre code {
  color: #444;
  line-height: 1.3;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}

a {
  color: #6c6666;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #009999;
  cursor: pointer;
}
a strong {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

ul {
  margin-left: 0;
}

ul li {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.25;
  color: #4b4040;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3em;
  margin-top: 1em;
}

@media all and (max-width: 640px) {
  h1 {
    margin-top: 1.5em;
  }
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  color: #6c6666;
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #6c6666;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

footer {
  border-top: 1px solid rgba(0,0,0,.09);
  margin-top: 4em;
  background: #fafafa;
  padding-bottom: 4em;
}

footer h2 {
  margin-bottom: 1em;
  font-size: 22px;
}
footer p {
  font-size: 18px;
}
footer .copyright {
  margin-top: 4em;
  color: #d1d1d1;
}
@media only screen and (max-width: 40em) {
  footer .copyright {
    text-align: center;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  footer .copyright {
    text-align: center;
  }
}

.profile-header {
  padding: 1rem 0;
  margin: 3rem 0;
}
.profile-header img {
  width: 300px;
  border-radius: 50%;
  margin: 0 auto;
  display: table;
  box-shadow: 0 1px 7px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.container {
  width: 50%;
  margin: 10px auto;
}

@media all and (max-width: 640px) {
  .container {
    width: 90%;
    font-size: 18px;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #009999;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    transform: scale(0);
  }
  50% {
    transform: scale(1);
    transform: scale(1);
  }
}
